{
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "edwardz_8",
  "password": "Baseball29",
  "database": "nestjsrealworld",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "synchronize": true
}